<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistem Magang PDSI</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
<body class="flex h-screen bg-gray-50">
  <!-- Sidebar -->
  <aside class="w-64 bg-blue-100 text-gray-800 p-4 flex flex-col">
    <div class="mb-6">
      <img src="/images/logo_kemendag.png" alt="Absensi" class="w-15 h-15 object-cover rounded" />
    </div>
    <hr class="border-t border-black-400 mb-4" />
    <div class="mb-6">
      <a href="/peserta/profile" class="flex items-center space-x-2 cursor-pointer">
        <div class="w-10 h-10 rounded-full bg-blue-900 flex items-center justify-center text-white"></div>
        <div>
          <div class="font-bold text-sm">Nabila R. Dzakira</div>
          <div class="text-xs text-gray-600">Peserta Magang</div>
        </div>
      </div>
    </div>

    <nav class="space-y-6 mt-6 pl-4">
      <a href="#" class="flex items-center space-x-2 hover:text-blue-600">
        <img src="/images/icon_absensi.png" alt="Absensi" class="w-5 h-5 object-cover rounded" />
        <span>Absensi</span>
      </a>
      <a href="/nda" class="flex items-center space-x-2 hover:text-blue-600">
        <img src="/images/icon_nda.png" alt="NDA" class="w-5 h-5 object-cover rounded" />
        <span>NDA</span>
      </a>
      <a href="#" class="flex items-center space-x-2 hover:text-blue-600">
        <img src="/images/icon_logbook.png" alt="logbook" class="w-5 h-5 object-cover rounded" />
        <span>Log Book</span>
      </a>
      <a href="#" class="flex items-center space-x-2 hover:text-blue-600">
        <img src="/images/icon_laporanakhir.png" alt="Laporan Akhir" class="w-5 h-5 object-cover rounded" />
        <span>Laporan Akhir</span>
      </a>
      <a href="/logout" class="flex items-center space-x-2 hover:text-blue-600">
        <img src="/images/icon_logout.png" alt="Logout" class="w-5 h-5 object-cover rounded" />
        <span>Logout</span>
      </a>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 p-6 overflow-y-auto">
    <%- body %>
  </main>
</body>
</html>