<%- include('layout/sidebar') %>
<div class="ml-64 p-8">
  <h1 class="text-xl font-bold mb-4">Tambah Kegiatan</h1>
  <form action="/tambah-kegiatan" method="post" class="bg-white rounded-xl shadow-md p-6 space-y-4 w-full max-w-md">
    <input type="date" name="tanggal_kegiatan" class="w-full input input-bordered" required>
    <textarea name="deskripsi_kegiatan" placeholder="Kegiatan" class="w-full textarea textarea-bordered h-24" required></textarea>
    <select name="status_kegiatan" class="w-full input input-bordered" required>
      <option value="">Pilih Status</option>
      <option value="selesai">Selesai</option>
      <option value="dalam_proses">Dalam Proses</option>
    </select>
    <button type="submit" class="btn btn-primary w-full">Submit</button>
  </form>
</div>
